<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umay.cocukegitimi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CocukEgitimi">
        <activity android:name=".SekilActivity"></activity>
        <activity android:name=".SayiActivity" />
        <activity android:name=".RenkActivity" />
        <activity android:name=".MeyvesebzeActivity" />
        <activity android:name=".MevsimActivity" />
        <activity android:name=".MeslekActivity" />
        <activity android:name=".HayvanActivity" />
        <activity android:name=".AracActivity" />
        <activity android:name=".AlfabeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>